.contact__container {
    background: salmon;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
}


.contact__form {
    background: greenyellow;
    width: 600px;
    height: auto;
    border: 5px solid rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.form__content {
    width: 100%;
    color: blueviolet;
    border: solid black;
    padding: 10px;
    border-radius: 20px;
}

.InputClass {
    background: rgb(242, 228, 255);
    border: 2px solid var(--color-primary-variant);
    border-radius: 5px;
    width: 250px;
    height: 40px;
    margin: 2px;
    display: grid;
}

.message__Input {
    background: whitesmoke;
    border: 2px solid var(--color-primary-variant);
    border-radius: 0.5rem;
    width: 100%;  
    height: 40px; 
    resize: none;
    }


/* ================  CONTACT REMARKS  ============================*/

.contact__remarks {
    background: red;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    margin: 5px;
}

.contact__remarks:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}