.contact__container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 4%;

}

.contact__form::before,
.contact__form::after {
   box-sizing: border-box;
}

/* ================  CONTACT REMARKS  ==================*/


.remarks__text {
   background-color: #ffffff;

   width: 100%;
   height: 100%;
   padding: 40px;
   border-radius: 10px;
   color: var(--color-bg);

}

/* ================  CONTACT FORM ===================*/


.contact__form {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #ffffff;
   text-align: justify;
   width: 100%;
   height: 100%;
   padding: 20px;
   border-radius: 10px;
   color: var(--color-bg);
}

.form__content {
   display: flex;
   flex-direction: column;
   text-align: justify;
}

.custom__field {
   position: relative;
   font-size: 15px;
   padding-top: 20px;
}

.custom__field input {
   border: 2px solid #ddd;
   -webkit-appearance: none;
   -ms-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 10px;
   border-radius: 3px;
   width: 300px;
   outline: none;
   text-decoration: black;
   font-size: 15px;
}

.custom__field .placeholder {
   position: absolute;
   left: 12px;
   top: calc(50% + 10px);
   transform: translateY(-50%);
   transition:
      top 0.3s ease,
      color 0.3s ease;
}

.custom__field input:valid,
.custom__field input:focus {
   border-color: #018deb;
   transition-delay: 0.2s;
}

.custom__field input+.placeholder {
   padding: 0 5px;
   left: 8px;
}

.custom__field input:valid+.placeholder,
.custom__field input:focus+.placeholder {
   top: 20px;
   color: #018deb;
   font-size: 15px;
   background: #fff;
}

/* ================ EMAIL INPUT ============= */

.email__custom__field input {
   border: 2px solid #ddd;
   -webkit-appearance: none;
   -ms-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 10px;
   border-radius: 3px;
   width: 300px;
   outline: none;
   text-decoration: black;
   font-size: 15px;
}

.email__custom__field input:valid,
.email__custom__field input:focus {
   border-color: #018deb;
   transition-delay: 0.2s;
}

.email__custom__field input+.placeholder {
   padding: 0 5px;
   left: 8px;
}

.email__custom__field input:valid+.placeholder,
.email__custom__field input:focus+.placeholder {
   top: 20px;
   color: #018deb;
   font-size: 15px;
   background: #fff;
}

/* ================ MSG INPUT ============= */

.msg__custom__field {
   display: flex;
   align-content: start;
   align-items: start;
}

.custom__field textarea {
   border: 2px solid #ddd;
   -webkit-appearance: none;
   -ms-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 10px;
   border-radius: 3px;
   width: 300px;
   height: 150px;
   outline: none;
   text-decoration: black;
   font-size: 15px;
}

.custom__field textarea:valid,
.custom__field textarea:focus {
   border-color: #018deb;
   transition-delay: 0.2s;
}

.custom__field textarea+.placeholder {
   padding: 0 5px;
   left: 8px;
}

.custom__field textarea:valid+.placeholder,
.custom__field textarea:focus+.placeholder {
   top: 20px;
   color: #018deb;
   font-size: 15px;
   background: #fff;
}


/* ================  CONTACT FORM BUTTON ===============*/

.form__button {
   display: block;
   /* margin: auto; */
   padding: .75rem 2rem;
   margin-top: 2rem;
   outline: none;
   border: 2px solid var(--color-primary);
   font-size: 15px;
   border-radius: .5rem;
   cursor: pointer;
   transition: var(--transition);
   width: 100%;
}

.form__button:hover {
   background: var(--color-white);
   color: var(--color-bg);
   border: 2px solid var(--color-primary);
}